@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

/* Vars */
:root {
	/* Colors */
	--color-primary: #495E57;
	--color-secondary: #F4CE14;
	--color-dark: #333333;
	--color-medium: #999999;
	--color-light: #EDEFEE;
	--color-peach: #EE9972;
	--color-tan: #FBDABB;

	/* font size */
	--font-serif: 'Markazi Text', Georgia, serif;
	--font-sans: 'Karla', system-ui, sans-serif;

	/* border radius */
	--border-rounded: .5rem;
	--border-md: .5rem;
	--border-lg: 1rem;

}

html, body {
	font-family: 'Karla', Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 100%;
	min-width: 375px;
}

/* Typography */
.display-title {
	font-family: 'Markazi Text';
	font-size: 4rem;
	font-weight: 500;
}
.subtitle {
	font-family: 'Markazi Text';
	font-size: 2.5rem;
	font-weight: 400;
}
.lead-text {
	font-family: 'Karla';
	font-size: 1.125rem;
	font-weight: 500;
}
.section-title {
	font-family: 'Karla';
	font-size: 1.25rem;
	font-weight: 800;
	text-transform: uppercase;
}
.category-title {
	font-family: 'Karla';
	font-size: 1rem;
	font-weight: 800;
	text-transform: capitalize;
}
.card-title {
	font-family: 'Karla';
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: capitalize;
}
.highlight-text {
	font-family: 'Karla';
	font-size: 1rem;
	font-weight: 500;
}

header {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	padding: 1rem;
	margin: 0 auto;
}

/* Footer */
.global-footer {
	width: 100%;
	padding: 2rem 1rem;
	background-color: var(--color-light);
	color: var(--color-dark)
}
.global-footer .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	margin: 0 auto;
	gap: 1rem;
}

.global-footer .column h2 {
	width: 100%;
	border-bottom: 1px solid var(--color-medium);
}
.global-footer .column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .25rem;
	text-align: center;
	width: 100%;
}
.global-footer .column a {
	font-weight: 500;
	padding: .125rem 0;
	color: black;
}
.global-footer .column a:hover {
	color: var(--color-primary);
	/* text-decoration: underline; */
}
@media (min-width: 640px) {
	.global-footer .container {
		flex-direction: row;
		align-items: start;
		justify-content: space-between;
	}
	.global-footer .column {
		align-items: start;
		justify-content: flex-start;
		text-align: left;
	}
}

#root {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0;
	align-items: start;
	justify-content: flex-start;
}

main {
	display: flex;
	flex-direction: column;
	gap: 0;
	align-items: start;
	justify-content: flex-start;
}
main > section {
	padding: 2rem;
	background: #DDD;
}

.modal {
	width: 100%;
	max-width: 36rem;
	margin: 0;
	padding: 0;
    position: fixed;
    top: 2rem;
    left: calc(50% - 18rem);
	background: transparent;
}
.modal::backdrop {
	background: rgba(0, 0, 0, .6);
}
.modal-container {
	padding: 2rem;
	background: white;
	border-radius: 1rem;
}
