@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

/* Vars */
:root {
	/* Colors */
	--color-primary: #495E57;
	--color-secondary: #F4CE14;
	--color-dark: #333333;
	--color-medium: #999999;
	--color-light: #EDEFEE;
	--color-peach: #EE9972;
	--color-tan: #FBDABB;

	/* font size */
	--font-serif: 'Markazi Text', Georgia, serif;
	--font-sans: 'Karla', system-ui, sans-serif;

	/* border radius */
	--border-rounded: .5rem;
	--rounded-md: .5rem;
	--rounded-lg: 1rem;

	/* box shadow */
	--shadow-md: rgba(0,0,0,0.25) .125rem .125rem 6px;
	--shadow-lg: rgba(0,0,0,0.3) .25rem .25rem 8px;
}

html, body {
	font-family: 'Karla', Arial, Helvetica, sans-serif;
	font-size: 16px;
	width: 100%;
	min-width: 375px;
}

/* Typography */
.display-title {
	font-family: 'Markazi Text';
	font-size: 4rem;
	font-weight: 500;
	line-height: 3rem;
}
.subtitle {
	font-family: 'Markazi Text';
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 2.25rem;
}
.lead-text {
	font-family: 'Karla';
	font-size: 1.125rem;
	font-weight: 500;
}
.section-title {
	font-family: 'Karla';
	font-size: 1.25rem;
	font-weight: 800;
	text-transform: uppercase;
}
.category-title {
	font-family: 'Karla';
	font-size: 1rem;
	font-weight: 800;
	text-transform: capitalize;
}
.card-title {
	font-family: 'Karla';
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: capitalize;
}
.highlight-text {
	font-family: 'Karla';
	font-size: 1rem;
	font-weight: 500;
}

/* Buttons */
.button {
	display: flex;
	align-items: center;
	width: max-content;
	padding: .5rem 1rem;
	border-radius: var(--rounded-md);
	color: white;
	background: var(--color-primary);
	font-weight: 500;
	transition: all .2s ease-out;
}
.button:hover {
	color: white;
	background: var(--color-dark);
}
.button--secondary {
	color: black;
	background: var(--color-secondary);
}
.button--secondary:hover {
	color: black;
	background: var(--color-tan);
}
.button--link {
	padding-left: 0;
	padding-right: 0;
	background: transparent;
	color: var(--color-primary);
}
.button--link:hover {
	text-decoration: underline;
	background: transparent;
	color: black;
}




.global-header {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	padding: 1rem;
	margin: 0 auto;
}

/* Footer */
.global-footer {
	width: 100%;
	padding: 2rem 1rem;
	background-color: var(--color-light);
	color: var(--color-dark)
}
.global-footer .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	margin: 0 auto;
	gap: 1rem;
}

.global-footer .column h2 {
	width: 100%;
	border-bottom: 1px solid var(--color-medium);
}
.global-footer .column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: .25rem;
	text-align: center;
	width: 100%;
}
.global-footer .column a {
	font-weight: 500;
	padding: .125rem 0;
	color: black;
}
.global-footer .column a:hover {
	color: var(--color-primary);
	text-decoration: underline;
}
@media (min-width: 640px) {
	.global-footer .container {
		flex-direction: row;
		align-items: start;
		justify-content: space-between;
	}
	.global-footer .column {
		align-items: start;
		justify-content: flex-start;
		text-align: left;
	}
}



main {
	display: flex;
	flex-direction: column;
	gap: 0;
	align-items: start;
	justify-content: flex-start;
	width: 100%;
}

.page-section {
	padding: 4rem 2rem;
	width: 100%;
	display: flex;
}
.page-section .container {
	margin: 0 auto;
}

/* Feature Section */
.feature-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap:1rem;
	padding: 2rem 0;
	width: 100%;
}
.feature-section .content {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	max-width: 65ch;
	color: white;
}
.feature-section header {
	color: white;
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.feature-section .body {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.feature-section .body a {
	color: var(--color-secondary);
	transition: color .2s ease-out;
}
.feature-section .body a:hover {
	color: white;
	text-decoration: underline;
}

.feature-section .images{
	padding: 2rem 0;
}
.feature-section figure {
	overflow: hidden;
	border-radius: var(--rounded-md);
	margin-left: 2rem;
}

.feature-section figure:last-of-type {
	position: absolute;
	bottom: -2rem;
	left: -3rem;
	box-shadow: rgba(0, 0, 0, .6) .25rem .25rem .5rem;
}
.feature-section figure img {
	width: 100%;
	max-width: 28rem;
	min-width: 16rem;
	height: auto;
}
.feature-section figure:last-of-type img {
	aspect-ratio: 5/4;
	object-fit: cover;
	object-position: center;
	width: 100%;
	max-width: 10rem;
	min-width: 8rem;
	height: 100%;
}

.feature-section p {
	padding-right: 1rem;
}

@media (min-width: 640px) {
	.feature-section {
		flex-direction: row;
	}
	.feature-section .images{
		padding: 0;
	}
	.feature-section p {
		padding-right: 2rem;
	}
}

/* Cards Section */
.cards-section {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	color: black;
	padding: 2rem 0;
}

.cards-section header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.cards-section .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	width: 100%;
}
@media (min-width: 640px) {
	.cards-section header .cta {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: end;
	}
	.cards-section header {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}
@media (min-width: 768px) {
	.cards-section .content {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-evenly;
		flex: 1;
	}

}

/* Card */
.card {
	/* flex: 1; */
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 1rem;
	/* width: 100%; */
	/* max-width: 24rem; */
	width: 50%;
	overflow: hidden;
	padding-bottom: 1rem;
	border-radius: var(--rounded-lg);
	box-shadow: var(--shadow-md);
	background: var(--color-light);
	transition: all .2s ease-out;
}
.card--link {
	cursor: pointer;
}
.card--link:hover {
	box-shadow: var(--shadow-lg);
}

.card-image img {
	width: 100%;
	aspect-ratio: 4/3;
	object-fit: cover;
}

.card-header,
.card-body,
.card-footer {
	padding: 0 1rem;
}
.card-body {
	flex-grow: 1;
}
.card-body p {
	margin-bottom: .5rem;
}



/* Booking Modal */
.modal {
	width: 100%;
	max-width: 36rem;
	margin: 0;
	padding: 0;
    position: fixed;
    top: 2rem;
    left: calc(50% - 18rem);
	background: transparent;
}
.modal::backdrop {
	background: rgba(0, 0, 0, .6);
}
.modal-container {
	padding: 2rem;
	background: white;
	border-radius: 1rem;
}
