html, body {
	font-size: 16px;
	width: 100%;
}
#root {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0;
	align-items: start;
	justify-content: flex-start;
}
header, footer {
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	gap: 0;
}
header > nav ul  {
	list-style: none;
	display: flex;
	align-items: center;
	gap: .5rem;
}
nav a {
	padding: 2px 4px;
}
main {
	display: flex;
	flex-direction: column;
	gap: 0;
	align-items: start;
	justify-content: flex-start;
}
main > section {
	padding: 2rem;
	background: #DDD;
}